    <div class="row">
        <div class="col-md p-0"
              >
            <footer class="page-footer black pt-4">
                <div class="container-fluid text-center text-md-left">
                  <div class="row">
                    <div class="col-md-3 mt-md-0 mt-3 mx-5">
                      <h5 class="text-uppercase"><strong>Victor Campos</strong></h5>
                      <p>{{data.description}}</p>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <!-- Grid column -->
                    <div class="col-md-2 mb-md-0  mx-5">
                        <h5 class="text-uppercase"><a href="https://twitter.com/camvazz">Github</a></h5>
                        <!-- <ul class="list-unstyled">
                          <li>
                            <a href="#">Link 1</a>
                          </li>
                          <li>
                            <a href="#">Link 2</a>
                          </li>
                          <li>
                            <a href="#">Link 3</a>
                          </li>
                          <li>
                            <a href="#">Link 4</a>
                          </li>
                        </ul> -->
                      </div>
                      <div class="col-md-2 mb-md-0 mx-5">
                        <h5 class="text-uppercase"><a href="https://twitter.com/camvazz"></a>Twitter</h5>
            
                      </div>
                      <div class="col-md-2 mb-md-0 mx-5">
                          <h5 class="text-uppercase"><a href="https://www.instagram.com/vic_camposv/">Instagram</a></h5>
                      </div>
                  </div>
                </div>
                <div class="footer-copyright text-center py-3">© 2019 Copyright:
                  <a href="https://github.com/camvaz">Victor Campos</a>
                </div>
              </footer>
        </div>
    </div>