
  .contacto {

    position: fixed;
    bottom: 55%;
    // bottom: 0;
    // margin-left:50%; 
    // background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    // width: 40%;
     
    padding: 20px;
  }