<div class="row" style="padding: 0px; margin:0;">
  <div class='col-md-4'>
    <div class="container-fluid  px-4 containercards">
      <div class="row animated slideInLeft">
        <div class="col-md">
          <h1 class='text-white px-5 pb-4'>
            Proyectos
          </h1>
        </div>
      </div>
      <div class="row justify-content-center animated slideInLeft rowcards">
        <div class="col-md cardcolumn">
          <img src="../assets/img/parking.jpeg" class="imgcard" alt="Card image cap">
          <mdb-card style="
                                     margin-top: 25%;">
            <mdb-card-body>
              <mdb-card-title>
                <h4>Car Park</h4>
              </mdb-card-title>
              <mdb-card-text>
                Web app that automates a parking building through parking reservations.
              </mdb-card-text>
              <mdb-card-text>
              </mdb-card-text>

              <a href="http://www.carpark.cf/" mdbBtn  color="primary" mdbWavesEffect>Ir a
                proyecto</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
      <div class="row rowspacer"></div>
      <div class="row justify-content-center animated slideInLeft rowcards">
        <div class="col-md cardcolumn">
          <img src="../assets/img/webphone.jpg" 
          class="imgcard imgcard2" alt="Card image cap">
          <mdb-card style="
                                     margin-top: 25%;">
            <mdb-card-body>
              <mdb-card-title>
                <h4>Web Chat</h4>
              </mdb-card-title>
              <mdb-card-text>
                Web messaging system implemented with JSP for backend and Java sockets.
              </mdb-card-text>
              <mdb-card-text>
              </mdb-card-text>

              <a href="https://github.com/camvaz/javasockets" mdbBtn  color="primary" mdbWavesEffect>Ir a
                proyecto</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md'>
    <div 
    style="background: rgba(0, 0, 0, 0.5);"
    class="container-fluid p-0 animated fadeIn">
      <div class="row">
        <div class="col-md px-5">
          <h1 class='text-white text-justify py-3'>About me</h1>
          <h5 class='text-white text-justify pt-0'>IT Engineering student and Full stack web developer</h5>
          <h6 class="text-white text-justify pt-3">
            Welcome! I am an IT Engineering student and full stack web developer.
            Currently studying in the Computer Science School of "Benemerita Universidad Autonoma de Puebla"
            at Puebla Mexico my 3rd year of college education and I expect to finish in a year.
          </h6>
          <h6 class="text-white text-justify pt-3">
            My main interests are Web Development, UI/UX, IoT, Cloud Computing and Artificial Intelligence. 
            I studied Economics for a couple of years so I'm really interested as well in economic growth, 
            goverment policy, stock market and finance.
          </h6>
          <h6 class="text-white py-3">
            Skills.
          </h6>
              <ul class='text-white'>
                <li class='text-left'>
                  Front End Development with Angular 8
                </li>
                <li class="text-left">
                  Desktop Applications with Qt5
                </li>
                <li class='text-left'>
                  Cloud Computing. (Amazon Web Services, Firebase and Google Cloud Platform)
                </li>
                <li class='text-left'>
                  Back End Development with NodeJs+ExpressJs, PHP, Java Servlet and JSP.
                </li>
                <li class='text-left'>
                  SQL and NoSQL DBMS Knowldge: RDS, MySQL, MSSQL, PostgreSQL, MongoDB and Firestore.
                </li>
                <li class='text-left'>
                  IoT Solutions with Raspberry Pi
                </li>
                <li class='text-left'>
                  Algorithms and Data Structures
                </li>

              </ul>
        </div>
      </div>
    </div>
  </div>
</div>
            <!-- <div class='row rowspacer'></div>
            <div class='row'>
                <div class="col-md cardcolumn">
                    <mdb-card>
                      <mdb-card-body>
                        <mdb-card-title>
                          <h4>Card Title</h4>
                        </mdb-card-title>
                    
                        <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
                          content.
                        </mdb-card-text>
                    
                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                      </mdb-card-body>
                    </mdb-card>
                </div>
            </div>

            <div class='row rowspacer'></div>
            <div class='row'>
                <div class="col-md cardcolumn">
                    <mdb-card>
                      <mdb-card-body>
                        <mdb-card-title>
                          <h4>Card Title</h4>
                        </mdb-card-title>
                    
                        <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
                          content.
                        </mdb-card-text>
                    
                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                      </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-md colnombre animated fadeIn faster">
        <h1 class="uk-text-bold text-white text-center nombre"> Victor Campos </h1>

        <h1 class="uk-text-bold text-white text-center descripcion"> Full Stack Web Developer </h1>
        <button type="button" class=" botonland btn-primary" mdbWavesEffect>
            <p class='portafoliobtn'>
                <mdb-icon fas icon="file-code" class="pr-1"></mdb-icon>Ver portafolio
            </p>
        </button>
    </div>

    <div class="colcards animated slideInRight faster">
        <div class="row pt-4">
            <div class="col-md">
                <mdb-card>
                    <mdb-card-body class="text-black carta">
                        <mdb-card-title>
                            <h4>Skills</h4>
                            <div class="row">
                                <div class="iconos" *ngFor="let icon of icons">
                                    <span class="iconify" style="width:36px;
                                height: 36px;" [attr.data-icon]="icon" data-inline="false"></span>
                                </div>
                            </div>
                        </mdb-card-title>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md">
                <mdb-card>
                    <div class="divmap">
                        <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 250px">
                            <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
                        </agm-map>
                    </div>
                    <mdb-card-body class="text-white carta">
                        <mdb-card-title>
                            <h6 class="text-dark">IT Engineering</h6>
                            <small class="text-dark">Benemerita Universidad Autonoma de
                                Puebla</small>
                        </mdb-card-title>
                    </mdb-card-body>
                </mdb-card>
            </div>

        </div>
    </div> -->
<!-- </div> -->