<div class="row" style="padding: 0px; margin:0;">
  <div class='col-md-4'>
    <div class="container-fluid  px-4 containercards">
      <div class="row animated slideInLeft">
        <div class="col-md">
          <h1 class='text-white px-5 pb-4'>
            {{data.projects}}
          </h1>
        </div>
      </div>
      <div class="row justify-content-center animated slideInLeft rowcards">
        <div class="col-md cardcolumn">
          <img src="../assets/img/parking.jpeg" class="imgcard" alt="Card image cap">
          <mdb-card style="
                                     margin-top: 25%;">
            <mdb-card-body>
              <mdb-card-title>
                <h4>Car Park</h4>
              </mdb-card-title>
              <mdb-card-text>
                {{data['card-1']}}
              </mdb-card-text>
              <mdb-card-text>
              </mdb-card-text>

              <a href="http://www.carpark.cf/" mdbBtn  color="primary" mdbWavesEffect>
                {{data.button}}
              </a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
      <div class="row rowspacer"></div>
      <div class="row justify-content-center animated slideInLeft rowcards">
        <div class="col-md cardcolumn">
          <img src="../assets/img/webphone.jpg" 
          class="imgcard imgcard2" alt="Card image cap">
          <mdb-card style="
                                     margin-top: 25%;">
            <mdb-card-body>
              <mdb-card-title>
                <h4>Web Chat</h4>
              </mdb-card-title>
              <mdb-card-text>
                {{data['card-2']}}
              </mdb-card-text>
              <mdb-card-text>
              </mdb-card-text>

              <a href="https://github.com/camvaz/javasockets" mdbBtn  color="primary" mdbWavesEffect>
                {{data.button}}
              </a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md'>
    <div 
    style="background: rgba(0, 0, 0, 0.5);"
    class="container-fluid p-0 animated fadeIn">
      <div class="row">
        <div class="col-md px-5">
          <h1 class='text-white text-justify py-3'>{{data.about}}</h1>
          <h5 class='text-white text-justify pt-0'>{{data['about-2']}}</h5>
          <h6 class="text-white text-justify pt-3">
{{data['about-1']}}
          </h6>
          <h6 class="text-white text-justify pt-3">
{{data['about-3']}}
          </h6>
          <h6 class="text-white py-3">
{{data['about-4']}}
          </h6>
              <ul class='text-white'>
                <li class='text-left' *ngFor="let i of data.skills">
                  {{i}}
                </li>
              </ul>
        </div>
      </div>
    </div>
  </div>
</div>
            <!-- <div class='row rowspacer'></div>
            <div class='row'>
                <div class="col-md cardcolumn">
                    <mdb-card>
                      <mdb-card-body>
                        <mdb-card-title>
                          <h4>Card Title</h4>
                        </mdb-card-title>
                    
                        <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
                          content.
                        </mdb-card-text>
                    
                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                      </mdb-card-body>
                    </mdb-card>
                </div>
            </div>

            <div class='row rowspacer'></div>
            <div class='row'>
                <div class="col-md cardcolumn">
                    <mdb-card>
                      <mdb-card-body>
                        <mdb-card-title>
                          <h4>Card Title</h4>
                        </mdb-card-title>
                    
                        <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
                          content.
                        </mdb-card-text>
                    
                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                      </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-md colnombre animated fadeIn faster">
        <h1 class="uk-text-bold text-white text-center nombre"> Victor Campos </h1>

        <h1 class="uk-text-bold text-white text-center descripcion"> Full Stack Web Developer </h1>
        <button type="button" class=" botonland btn-primary" mdbWavesEffect>
            <p class='portafoliobtn'>
                <mdb-icon fas icon="file-code" class="pr-1"></mdb-icon>Ver portafolio
            </p>
        </button>
    </div>

    <div class="colcards animated slideInRight faster">
        <div class="row pt-4">
            <div class="col-md">
                <mdb-card>
                    <mdb-card-body class="text-black carta">
                        <mdb-card-title>
                            <h4>Skills</h4>
                            <div class="row">
                                <div class="iconos" *ngFor="let icon of icons">
                                    <span class="iconify" style="width:36px;
                                height: 36px;" [attr.data-icon]="icon" data-inline="false"></span>
                                </div>
                            </div>
                        </mdb-card-title>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md">
                <mdb-card>
                    <div class="divmap">
                        <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 250px">
                            <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
                        </agm-map>
                    </div>
                    <mdb-card-body class="text-white carta">
                        <mdb-card-title>
                            <h6 class="text-dark">IT Engineering</h6>
                            <small class="text-dark">Benemerita Universidad Autonoma de
                                Puebla</small>
                        </mdb-card-title>
                    </mdb-card-body>
                </mdb-card>
            </div>

        </div>
    </div> -->
<!-- </div> -->