<div class="row">
    <div class="col-md navcontainer animated fadeIn p-0">
        <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black"
        [containerInside]="false">
            <mdb-navbar-brand><a class="navbar-brand" href="#">
                <b>
                    <mdb-icon fas icon="code" class="px-1"></mdb-icon>Portafolio
                </b>
                </a></mdb-navbar-brand>
            <links>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item text-right px-2">
                        <a class="nav-link waves-light" mdbWavesEffect>Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item text-right px-2">
                        <a class="nav-link waves-light" mdbWavesEffect>Sobre Mi</a>
                    </li>
                    <li class="nav-item text-right px-2">
                        <a class="nav-link waves-light" mdbWavesEffect>Portafolio</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto mr-1 nav-flex-icons">
                    <li class="nav-item ">
                        <a class="nav-link waves-light" (click)="basicModal.show()" mdbWavesEffect>
                            <mdb-icon fas icon="envelope"></mdb-icon> Contacto<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/camvaz">
                            <mdb-icon fab icon="github"></mdb-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/camvazz">
                            <mdb-icon fab icon="twitter"></mdb-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/vic_camposv/">
                            <mdb-icon fab icon="instagram"></mdb-icon>
                        </a>
                    </li>
                </ul>
            </links>

        </mdb-navbar>
    </div>
</div>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">Contacto</h4>
            </div>
            <div class="modal-body">
                <p>
                    Inserte sus datos para ponerme en contacto lo mas pronto posible.
                    Quedo a sus ordenes a traves de mis redes sociales que se encuentran en el pie de pagina.
                </p>
          <form [formGroup]="validatingForm">
            <div class="form-row">
              <div class="col">
                <div class="md-form">
                  <input mdbInput mdbValidate type="email" id="form1" class="form-control">
                  <label for="form1">Nombre</label>
                </div>
              </div>
              <div class="col">
                <div class="md-form">
                  <input mdbInput mdbValidate type="email" id="form1" class="form-control" formControlName="email">
                  <label for="form1">Correo Electronico</label>
                  <mdb-error *ngIf="inputemail.invalid && (inputemail.dirty || inputemail.touched)">
                    E-mail invalido</mdb-error>
                  <mdb-success *ngIf="inputemail.valid && (inputemail.dirty || inputemail.touched)">E-mail
                    valido</mdb-success>
                </div>
              </div>
            </div>
            <div class="form-row">
                <div class="col">
                        <div class="md-form">
                                <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                                <label for="form7">Descripcion</label>
                            </div>
                </div>
            </div>
          </form>
            </div>
            <div class="modal-footer">
              <button type="button" mdbBtn color="light" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Cerrar</button>
              <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Enviar</button>
            </div>
          </div>
        </div>
      </div>
        <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-md p-0">
                    <mdb-navbar
                        sideclass="navbar navbar-5 navbar-expand-lg navbar-dark black"
                        [containerinside]="false">
                        <mdb-navbar-brand>
                            <a class="navbar-brand px-3" (click)="onclickbrand()" href="javascript:void(0)">
                                <h4 class="brandnav text-justify text-white">
                                    <strong><mdb-icon fas icon="code" class="pt-1 pr-1"></mdb-icon>
                                            portafolio
                                            </strong></h4>
                            </a>
                        </mdb-navbar-brand>
                    
                        <links class="linksnav">
                            <ul class="navbar-nav">
                                <li class="nav-item waves-light px-5" id="btn1">
                                    <a class="nav-link"  mdbwaveseffect (click)="onclickinicio()"><strong>inicio</strong>
                                        <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item waves-light px-5"id="btn2">
                                    <a class="nav-link"  mdbwaveseffect (click)="onclickinstalaciones()"><strong>sobre mi</strong></a>
                                </li>
                                <li class="nav-item waves-light px-5"id="btn3">
                                    <a class="nav-link"  mdbwaveseffect (click)="onclickubicacion()"><strong>ubicación</strong></a>
                                </li>
                                <li class="nav-item waves-light px-5"id="btn4">
                                    <a class="nav-link"  (click)="onclickabout()"
                                        mdbwaveseffect><strong>¿quiénes&nbsp;somos?</strong></a>
                                </li>
                                <li class="nav-item waves-light pl-5" class="">
                                    <button mdbbtn mdbwaveseffect type="button" (click)="contacto()" routerlinkactive="router-link-active"  id="btnlogin"  class="btn btn-primary mx-5">
                                        <strong class="">contacto</strong>
                                    </button>
                                </li>
                    
                            </ul>
                    
                        </links>
                    </mdb-navbar>
        
                </div>
            </div>
            </div> -->
