<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md p-0">
            <mdb-navbar
                SideClass="navbar navbar-5 navbar-expand-lg navbar-dark black"
                [containerInside]="false">
                <mdb-navbar-brand>
                    <a class="navbar-brand px-3" (click)="onClickBrand()" href="javascript:void(0)">
                        <h4 class="brandnav text-justify text-white">
                            <strong><mdb-icon fas icon="code" class="pt-1 pr-1"></mdb-icon>
                                    Portafolio
                                    </strong></h4>
                    </a>
                </mdb-navbar-brand>
            
                <links class="linksnav">
                    <ul class="navbar-nav">
                        <li class="nav-item waves-light px-5" id="btn1">
                            <a class="nav-link"  mdbwaveseffect (click)="onClickInicio()"><strong>Inicio</strong>
                                <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item waves-light px-5"id="btn2">
                            <a class="nav-link"  mdbwaveseffect (click)="onClickInstalaciones()"><strong>Sobre mi</strong></a>
                        </li>
                        <li class="nav-item waves-light px-5"id="btn3">
                            <a class="nav-link"  mdbwaveseffect (click)="onClickUbicacion()"><strong>Ubicación</strong></a>
                        </li>
                        <li class="nav-item waves-light px-5"id="btn4">
                            <a class="nav-link"  (click)="onClickAbout()"
                                mdbwaveseffect><strong>¿Quiénes&nbsp;somos?</strong></a>
                        </li>
                        <li class="nav-item waves-light pl-5" class="">
                            <button mdbbtn mdbwaveseffect type="button" (click)="contacto()" routerLinkActive="router-link-active"  id="btnlogin"  class="btn btn-primary mx-5">
                                <strong class="">Contacto</strong>
                            </button>
                        </li>
            
                    </ul>
            
                </links>
            </mdb-navbar>

        </div>
    </div>
    </div> -->
