<div class="row p-0">
    <div class="col-md p-0">
        <div class="view w-100">
            <ng-template [ngIf]="mobile == true">
                <img src="../../assets/img/splash.jpg" class="img-fluid" alt="">
                <img src="../../assets/img/splash.jpg" class="img-fluid" alt="">
                <img src="../../assets/img/splash.jpg" class="img-fluid" alt="">
            </ng-template>
            <ng-template [ngIf]="mobile !=true ">
                <video autoplay muted loop id="myVideo">
                    <source src="../../assets/video/video.mp4" type="video/mp4">
                </video>
            </ng-template>
            <div class="mask pattern6 flex-center w-responsive">
                <div class="container-fluid h-100 p-0" style="background: rgba(0, 0, 0, 0.3);">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

    </div>
</div>