<!-- The video -->
<div class="container-fluid containervideo appdim " style="height:1207px">
    <div class="row">
        <div class="col-md p-0" style="height:1207px">
            <video autoplay muted loop id="myVideo">
                <source src="../../assets/video/video.mp4" type="video/mp4">
            </video>


            <div class="containter-fluid content">
                <div class="row">
                    <div class="col-md-5 content2 animated slideInLeft">
                        <h1 class="titulovid text-white text-md-center"><b>Victor Campos</b></h1>
                        <p class="parrafovid text-center text-white ">Full Stack Web Developer</p>
                        <div class="text-center">
                            <button mdbbtn mdbwaveseffect type="button" id="btnlogin"  class="btn btn-light ">
                                <strong class="p-1">Portafolio</strong> <mdb-icon fas icon="file-code" class="p-1"></mdb-icon>
                            </button>
                        </div>
                    </div>

                    <!-- <div class="col-md content2 mx-2">
                        <h1 class="titulovid text-white text-md-center"><b>Victor Campos</b></h1>
                        <p class="parrafovid text-center text-white ">Full Stack Developer</p>
                    </div> -->
                </div>
            </div>
            <!-- <div class="content">
                <h1 class="titulovid text-white text-md-center"><b>Victor Campos</b></h1>
                <p class="parrafovid text-center text-white ">Full Stack Developer</p>
            </div>
            <div class="content2">
                <h1 class="titulovid text-white text-md-center"><b>Victor Campos</b></h1>
                <p class="parrafovid text-center text-white ">Full Stack Developer</p>
            </div> -->
        </div>
    </div>
</div>